--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.5.1+cpu

pandas
pydantic
huggingface_hub
langchain~=1.3
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters
langgraph
pypdf
sentence-transformers
faiss-cpu
langchain-chroma
chromadb

prek
ipython
ipykernel
jupyterlab
pip-tools
